.flexbox-container {
    display: flex;
}

h1 {
    text-align: center;
}

button#deckInit {
    position: relative;
    background-color: rgb(228, 11, 11);
    font-size: .9em;
    font-style: oblique;
    color: white;
    cursor: pointer;
    left: 45.7%;
    width: 70px;
    margin: -15px 0 25px 0;
    border-radius: 100px;
}

.table {
    display: flex;
    flex-direction: row;
    width: 650px;
    height: 650px;
    margin: auto;
    border: 5px solid #11137a;
    border-radius: 10px;
}

.container {
    border: 3px solid black;
}

div.computer {
    display: flex;
    justify-content: flex-end;
}

.card {
    flex-direction: column;
    box-sizing: border-box;
    margin: auto;
    cursor: pointer;
    font-size: inherit;
    width: 5.0em;
    height: 7.5em;
    background-color: rgb(236, 141, 141);
    border-radius: 0.50em;
    border: 1.5px solid #c3c3c3;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#player, #computer {
    box-shadow: 5px 5px 5px 0px slategray;
}
