body {
    background: rgb(182, 242, 227);
};

h1 {
    font: optional;
    text-align: center;
    align-content: center;
}

.gameboard {
    display: flex;
    justify-content: center, space-between;
    align-items: flex-end;
}

.card {
    box-sizing: border-box;
    display: flex;
    margin: 5px 5px 30px 5px;
    cursor: pointer;
    /* Set the card's dimensions, and size it relative to
       it's font size. */
    font-size: inherit;
    width: 5.0em;
    height: 7.5em;
    /* Add a default background color and border. */
    background-color: rgb(236, 141, 141);
    border-radius: 0.50em;
    border: 1.5px solid #c3c3c3;
    /* Scale and set the background settings. */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /* "Hide" any text within the element (use text to be
       simply compliant with screen readers, etc.). */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#player, #computer {
    display: flex;
    box-shadow: 5px 5px 5px 0px slategray;
}

#player