body {
  display: absolute;
  background-image: url(./images/navy.jpeg);
  background-size: 2000px;
  height: 100vh;
  background-attachment: fixed;
  background-position-x: -200px;
  background-position-y: -130px;
}

/* @media screen and (max-width: 1534px) {
    body {
        left: 50%;
        margin-left: -767px;
    }
} */

h1 {
  font-family: "Abril Fatface", cursive;
  letter-spacing: 20px;
  text-shadow: -2px 2px 10px white;
  display: block;
  text-align: center;
  font-size: 55px;
  margin: 60px 0 5px 15px;
}

#deckInit {
  display: block;
  background-color: rgb(228, 11, 11);
  font-size: 0.9em;
  font-style: oblique;
  color: bisque;
  width: 65px;
  height: 65px;
  margin: 0 auto 25px;
  border-radius: 100px;
  box-shadow: 2px 3px 3px 0px #390707;
  cursor: pointer;
}
#deckInit:hover {
  filter: brightness(170%);
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 0 auto;
  max-width: 900px;
  max-height: 900px;
  border: 17px ridge #4a694e;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.25);
}

.container1 {
  display: flex;
  flex-direction: row;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.card {
  background-image: url(./images/backs/blue.svg);
  box-sizing: border-box;
  font-size: inherit;
  margin: 40px 10px;
  width: 6em;
  height: 8.25em;
  background-color: rgb(250, 249, 228);
  border-radius: 0.5em;
  border: 1.5px solid #c3c3c3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#player,
#computer,
#playerHand {
  box-shadow: 9px 9px 10px 0px rgb(28, 30, 31);
  border-style: ridge;
  text-size-adjust: 1em;
}

#compCard, #playerCard {
  box-shadow: 3px 3px 5px 0px rgb(28, 30, 31);
}

.messages {
    position: relative;
    top: 20%;
    left: 66%;
    z-index: 1;
    font-family: "Abril Fatface", cursive;
    font-size: 18px;
    text-shadow: 2px 1px 5px rgb(53, 20, 20);
    color: rgb(250, 249, 228, .85);
    letter-spacing: 2px;
    height: 25px;
    width: 120px;
    /* margin: 11% 10% 5% 47%; */
    text-align: right;
}

#playerHand:hover {
  filter: brightness(170%);
  cursor: pointer;
}

#playerHand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Abril Fatface", cursive;
  text-shadow: 2px 1px 5px rgb(255, 106, 106);
  background-image: url(./images/backs/blue.svg);
  box-sizing: border-box;
  cursor: pointer;
  margin: 40px 10px;
  width: 4em;
  height: 5.5em;
  background-color: rgb(250, 249, 228);
  border-radius: 0.5em;
  border: 1.5px solid #c3c3c3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-indent: 100%;
  white-space: normal;
  letter-spacing: 3px;
  font-size: 24px;
}

.card.dA {
  background-image: url("../images/diamonds/diamonds-A.svg"); }

.card.dK{
  background-image: url("../images/diamonds/diamonds-K.svg"); }

.card.dQ {
  background-image: url("../images/diamonds/diamonds-Q.svg"); }

.card.dJ {
  background-image: url("../images/diamonds/diamonds-J.svg"); }

.card.d10 {
  background-image: url("../images/diamonds/diamonds-r10.svg"); }

.card.d09 {
  background-image: url("../images/diamonds/diamonds-r09.svg"); }

.card.d08{
  background-image: url("../images/diamonds/diamonds-r08.svg"); }

.card.d07 {
  background-image: url("../images/diamonds/diamonds-r07.svg"); }

.card.d06 {
  background-image: url("../images/diamonds/diamonds-r06.svg"); }

.card.d05 {
  background-image: url("../images/diamonds/diamonds-r05.svg"); }

.card.d04 {
  background-image: url("../images/diamonds/diamonds-r04.svg"); }

.card.d03 {
  background-image: url("../images/diamonds/diamonds-r03.svg"); }

.card.d02 {
  background-image: url("../images/diamonds/diamonds-r02.svg"); }

.card.hA {
  background-image: url("../images/hearts/hearts-A.svg"); }

.card.hK {
  background-image: url("../images/hearts/hearts-K.svg"); }

.card.hQ {
  background-image: url("../images/hearts/hearts-Q.svg"); }

.card.hJ {
  background-image: url("../images/hearts/hearts-J.svg"); }

.card.h10 {
  background-image: url("../images/hearts/hearts-r10.svg"); }

.card.h09 {
  background-image: url("../images/hearts/hearts-r09.svg"); }

.card.h08 {
  background-image: url("../images/hearts/hearts-r08.svg"); }

.card.h07 {
  background-image: url("../images/hearts/hearts-r07.svg"); }

.card.h06 {
  background-image: url("../images/hearts/hearts-r06.svg"); }

.card.h05 {
  background-image: url("../images/hearts/hearts-r05.svg"); }

.card.h04 {
  background-image: url("../images/hearts/hearts-r04.svg"); }

.card.h03 {
  background-image: url("../images/hearts/hearts-r03.svg"); }

.card.h02 {
  background-image: url("../images/hearts/hearts-r02.svg"); }

.card.sA{
  background-image: url("../images/spades/spades-A.svg"); }

.card.sK{
  background-image: url("../images/spades/spades-K.svg"); }

.card.sQ{
  background-image: url("../images/spades/spades-Q.svg"); }

.card.sJ{
  background-image: url("../images/spades/spades-J.svg"); }

.card.s10 {
  background-image: url("../images/spades/spades-r10.svg"); }

.card.s09 {
  background-image: url("../images/spades/spades-r09.svg"); } 

.card.s08 {
  background-image: url("../images/spades/spades-r08.svg"); } 

.card.s07 {
  background-image: url("../images/spades/spades-r07.svg"); } 

.card.s06 {
  background-image: url("../images/spades/spades-r06.svg"); } 

.card.s05 {
  background-image: url("../images/spades/spades-r05.svg"); } 

.card.s04 {
  background-image: url("../images/spades/spades-r04.svg"); } 

.card.s03 {
  background-image: url("../images/spades/spades-r03.svg"); } 

.card.s02 {
  background-image: url("../images/spades/spades-r02.svg"); } 
  
.card.cA{
  background-image: url("../images/clubs/clubs-A.svg"); }

.card.cK{
  background-image: url("../images/clubs/clubs-K.svg"); }

.card.cQ{
  background-image: url("../images/clubs/clubs-Q.svg"); }

.card.cJ{
  background-image: url("../images/clubs/clubs-J.svg"); }

.card.c10 {
  background-image: url("../images/clubs/clubs-r10.svg"); }

.card.c09 {
  background-image: url("../images/clubs/clubs-r09.svg"); }

.card.c08 {
  background-image: url("../images/clubs/clubs-r08.svg"); }

.card.c07 {
  background-image: url("../images/clubs/clubs-r07.svg"); }

.card.c06 {
  background-image: url("../images/clubs/clubs-r06.svg"); }

.card.c05 {
  background-image: url("../images/clubs/clubs-r05.svg"); }

.card.c04 {
  background-image: url("../images/clubs/clubs-r04.svg"); }

.card.c03 {
  background-image: url("../images/clubs/clubs-r03.svg"); }

.card.c02 {
  background-image: url("../images/clubs/clubs-r02.svg"); }

.card.back {
  background-image: url("../images/backs/blue.svg"); }